BELLITSupportSystem/Connected Services/ITSupportServices/TicketService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BELLITSupportSystemServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BELLITSupportSystemServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentModel" nillable="true" type="tns:ArrayOfDepartmentModel" />
  <xs:complexType name="DepartmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DepartmentName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
  <xs:complexType name="ArrayOfEmployeeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeModel" nillable="true" type="tns:EmployeeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeModel" nillable="true" type="tns:ArrayOfEmployeeModel" />
  <xs:complexType name="EmployeeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeModel" nillable="true" type="tns:EmployeeModel" />
  <xs:complexType name="ArrayOfTicketModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketModel" nillable="true" type="tns:TicketModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketModel" nillable="true" type="tns:ArrayOfTicketModel" />
  <xs:complexType name="TicketModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TicketID" type="xs:int" />
      <xs:element minOccurs="0" name="modelDepartment" nillable="true" type="tns:DepartmentModel" />
      <xs:element minOccurs="0" name="modelEmployee" nillable="true" type="tns:EmployeeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketModel" nillable="true" type="tns:TicketModel" />
</xs:schema>