BELLITSupportSystem/Connected Services/ITSupportServices/TicketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55792/TicketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55792/TicketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55792/TicketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BELLITSupportSystemServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketService_GetAllTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketService_InsertTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicket" />
  </wsdl:message>
  <wsdl:message name="ITicketService_InsertTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetData" message="tns:ITicketService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetDataResponse" message="tns:ITicketService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetAllDepartments" message="tns:ITicketService_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetAllDepartmentsResponse" message="tns:ITicketService_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetAllEmployees" message="tns:ITicketService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetAllEmployeesResponse" message="tns:ITicketService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/GetAllTickets" message="tns:ITicketService_GetAllTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/GetAllTicketsResponse" message="tns:ITicketService_GetAllTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketService/InsertTicket" message="tns:ITicketService_InsertTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketService/InsertTicketResponse" message="tns:ITicketService_InsertTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketService" type="tns:ITicketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketService/GetAllTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTicket">
      <soap:operation soapAction="http://tempuri.org/ITicketService/InsertTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketService">
    <wsdl:port name="BasicHttpBinding_ITicketService" binding="tns:BasicHttpBinding_ITicketService">
      <soap:address location="http://localhost:55792/TicketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>